<a href="https://colab.research.google.com/github/naaci/python-lessons/blob/main/nb/conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparison Operators
To compare Python objects:
- for $<$ and $>$ use:
`<`, `>`
- for $\le$ and $\ge$ use:
`<=`, `>=`
- for $=$ use:
`==`
- for $\ne$ use:
`!=`

**Warning:** `=` is used for assignment in Python. For equality check use double: `==`

The result of a comparision is always one of the two special objects: `True` or `False`

In [ ]:
print(12 > 1, 12 >= 1, 12 <= 1, 12 == 1, 12 != 1)

True True False False True

`not` makes `True` $→$ `False` and vice versa.

In [ ]:
not 12 > 1

False

Since `True` and `False` are also some Python objects they can be compared as well.

In [ ]:
(12 != 1) == (not 12 == 1)

True

In Python you can combine multiple comparisions in a single expression:

In [ ]:
1 < 12 < 30

True

Also you can use:
- `and` operator for $∧$ in mathematics
- `or` operator for $∨$ in mathematics

In [ ]:
(1 < 12 and 12 < 30) or True

True

# `if`-`elif`-`else` Statements

## `if` Statements

In Python `if` statement evaluates a condition (like `3 > 0` in the following example) then runs a block of code only if the condition equals to `True`.

In [ ]:
if 3 > 0:
    print("The number 3 is positive")

The number 3 is positive

since `3 > 0` is true then Python evaluated the code: `print('The number 3 is positive')`

On the other hand

In [ ]:
if 3 < 0:
    print("The number 3 is negative")

since `3 < 0` is false then Python skiped the code: `print('The number 3 is positive')`. So there is no output.

### Indentation
**Warning:** In Python indentation (space at the beginning of the line) is important.
- New line after `:` must be indented. This is called a __code block__.
- If there is more than one statement inside an `if` block they must be indented exactly like the first one.

In [ ]:
if 3 == 3.0:
    # We are testing equality with == operator not = assignment
    msg = "The number 3 is equal to 3.0"
    print(msg)

The number 3 is equal to 3.0

But there is an exception to the indentation rule:
If there is an open paranthesis then the indentation rules are not required until closing the paranthesis.

In [ ]:
if 3 >= 3:
    print(
"3 is greater than or equal to 3"

            )

3 is greater than or equal to 3

If there is only one statement in the `if` block then it can be written after `:` without new line and indentation.

In [ ]:
if 3 != 4: print("3 is not equal to 4")

3 is not equal to 4

## `else` Statement

`else` statement runs a block of code only if the condition of the preceeding `if` statement was evaluated false.

In [ ]:
if 3 == 0:
    print("The number 3 is zero")

else:
    print("The number 3 is not zero")

The number 3 is not zero

`else` statement must be in the same indentaion level with its `if` statement.

## Nested `if` statements

In [ ]:
if 3 < 0 and 3 % 2 == 1:
  print("the number 3 is negative odd onumber")
else:
  print("the number 3 is not negative odd number")

the number 3 is not negative odd number

Additional conditions can be put by nesting multiple `if` statements.

So the previous code can be written by nested `if` statements:

In [ ]:
if 3 > 0:
    if 3 % 2 == 1:
        print("The number 3 is a positive odd number")
    else:
        print("The number 3 is a positive even number")
else:
    print("The number 3 is not positive")

The number 3 is a positive odd number

**Warning:** After each nested `if` statement the indentation must be increased.

In [ ]:
if 3 < 0:
    print("The number 3 is negative")
else:
    if 3 % 2 == 0:
        print("The number 3 is a negative even number")
    else:
        print("The number 3 is a negative odd number")

The number 3 is a negative odd number

## `elif` statement
Instead of `else: if` statement use `elif` statement.
The advantage of using `elif` is that, the indentation level is same with its `if` statement.
This makes code more readable.

In [ ]:
if 3 < 0:
    print("The number 3 is negative")
elif 3 % 2 == 0:
  print("The number 3 is a negative even number")
else:
    print("The number 3 is a negative odd number")

The number 3 is a negative odd number

# `match`-`case` Statements
In `if`-`elif`-`else` statements if the conditions are equality check with a fixed object
`match`-`case` statement are more handy.

In each `case` statement the equality is tested for each `|` seperated objects.
If none of the equalities hold then that `case _:` block is executed.

In [ ]:
day = "sunday"

match day:
    case "monday" | "tuesday" | "wednesday" | "thursday" | "friday":
        print("It's a weekday")
    case "saturday" | "sunday":
        print("It's a weekend")
    case _:
        print("Not a valid day")

It's a weekend

**Warning:** Here;
- `|` is not the bitwise or operator.
- `_` is not a variable.

# `if`-`else` Expression
Instead of using `if`-`else` statements in Python, `if`-`else` expressions are usually more usefull.

In [ ]:
n = 78

print(n, "is", "even" if n % 2 == 0 else "odd")

78 is even

is equivalent to:

In [ ]:
n = 7

if n % 2 == 0:
    print(n, "is even")
else:
    print(n, "is odd")

7 is odd

`if`-`else` expressions can be nested as well:

In [ ]:
n = 7

print(n, "is",
      "positive" if n > 0 else
      "negative" if n < 0 else
      "zero")

7 is positive

In [ ]:
if n > 0:
    print(n, "is positive")
elif n < 0:
    print(n, "is negative")
else:
    print(n, "is zero")

7 is positive

Expressions are more useful because they return an object so it can be assigned to a variable or passed as an argument to a function.

**Warning:** the `else` part of `if`-`else` expressions can not be ommited unlike `if`-`else` statements.

# Truth Value of Python Objects
Every object in Python has a truth value.
Builtin `bool()` function can be used to get the truth value of an object.

Objects relateded to voidness are `False`:

In [ ]:
bool(None), bool(0), bool(""), bool(()), bool([]), bool(set()), bool({})

(False, False, False, False, False, False, False)

All other objects are `True`:

In [ ]:
bool(...), bool(-1), bool("Hello"), bool((1,)), bool([0]), bool({"a"}), bool({"a": 1}),

(True, True, True, True, True, True, True)

Therefore, any Python object can be used as a condition in `if` statements and `if`-`else` expressions.

In [ ]:
n = 78
print(n, "is", "odd" if n % 2 else "even")

78 is even

# `and` & `or` Expressions
Every Python object has a truth value and every Python function returns an object.
This can be used to control flow of the execution by `and` & `or` expressions.

## `and`
In `expr1 and expr2`, Python first evaluates the `expr1`. If the result of the `expr1` is equal to `True` then evaluates and gets the value of  `expr2`. Otherwise it gets `expr1`. Mathematically;
$$p\ and\ q = \cases{
p & , if $p$ is false \\ q & , if $p$ is true
}$$

In [ ]:
name    = input('Enter your name: ')
surname = name and input('Enter your surname: ')

In this example, the surname will be asked only if the name entered.

## `or`
In `expr1 or expr2`, Pyton first evaluates the `expr1`. If the result of the `expr1` is equal to `False`, then evaluates and gets the value of `expr2`. Otherwise it gets `expr1`. Mathematically;
$$p\ or\ q = \cases{
p & , if $p$ is true \\ q & , if $p$ is false
}$$

In [ ]:
name = input('enter your name: ') or input('please enter your name: ')

## `all()` \& `any()` Functions

Builtin `all` and `any` functions can be used to test the truth of tuples, lists, iterables.

In [ ]:
all([1==1.,1<2,4>3,3!=4])

True

In [ ]:
all((0, 1, 2, 3))

False

The function `all` is equivalent to:

In [ ]:
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True

In [ ]:
any([1==1.,1>2,4<3,3==4])

True

In [ ]:
any((0, 0.0, "", (), [], {}))

False

The function `any` is equivalent to:

In [ ]:
def any(iterable):
    for element in iterable:
        if element:
            return True
    return False

it is equivalent to:

In [ ]:
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True