<a href="https://colab.research.google.com/github/naaci/python-lessons/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings
A *string* in Python is just a sequence of (unicode) characters.

To create a string,
write the characters surrounding them by either `'` or `"` marks.

- If the string is started by `'` character then it must be ended by the same `'` character.
- If the string is started by `"` character then it must be ended by the same `"` character.

In [ ]:
'hello'

'hello'

We will use builtin `print()` function to write to the console.

In [ ]:
print('hello')

hello

In [ ]:
print("hello")

hello

If you want to write `'` character inside a string then you can do this by ethier
- escaping the `'` character by `\'` or
- using `"` character to surround the string.

If you want to write `\` itself inside a string then use `\\`.

In [ ]:
print("I'm learning to write \', \" and \\ characters inside a string.")

I'm learning to write ', " and \ characters inside a string.

Similarly to write `"` character inside a string surrounded by `"` character then you can do this by ethier
- escaping the `"` character by `\"` or
- using `'` character.

## Multiline Strings & White Spaces
Ordinary strings must start and end in one line.
(You can not break the line when writing a string between `'` or `"` characters.)

If you want to create s sting with a new line character you can use: `\n`

In [ ]:
print('hello\nworld!')

hello
world!

If you want to write tab character use `\t`.
Tab character puts 1 to 8 spaces to align the text on the console.

In [ ]:
print('hello\tworld!')

hello	world!

In [ ]:
print('hello\rworld!')

world!

Another way of creating multiline strings in Python is to use `'''` or `"""' to start and end the string.
(Exactly three times)

In [ ]:
print('''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.''')

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
print("""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.""")

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Another way of creating long strings is to write multiple strings with only white spaces between them:

In [ ]:
'hello' 'world!'

'helloworld!'

This is useful when using different syntax for different parts of the string:

In [ ]:
print("He's " 'the so-called "champion"')

He's the so-called "champion"

In fact, you can write multiple strings in a single `print()` call by seperating them with `,`.

`print()` function will replace them with a space.

In [ ]:
print("He's",'the so-called "champion"')

He's the so-called "champion"

## Operations on Strings:

You can get the length of a string by the builtin `len()` function.

In [ ]:
print(len('hello world!'))

12

Strings can be concatenated by `+` operator.

In [ ]:
print('hello'+' '+'world'+'!')

hello world!

Also you can use `*` to repeat the same string multiple times.

In [ ]:
print('hello world!'+'!'*3)

hello world!!!!

In [ ]:
print(('hello world!'+'!\n') * 3)

hello world!!
hello world!!
hello world!!

To convert a string:
-  to uppercase letters use `.upper()` method
-  to lowercase letters use `.lower()` method

To convert first letter of each word in a string use `.capitalize()` method

In [ ]:
print('hello world!'.upper())

HELLO WORLD!

In [ ]:
print('hello world!'.lower())

hello world!

In [ ]:
print('hello world!'.capitalize())

Hello world!

In [ ]:
print('hello world!'.center(30))

         hello world!

## Comparing Strings
You can compare two strings with `<`, `<=`, `>`, `>=`, `==` and `!=` operations.

In [ ]:
"hello world!" == 'hello world!'

True

In [ ]:
'hello world!' > 'hello world!'

False

Here the comparision is done in _lexicographic_ order.

## Substrings

To test if a string is contained in another string use `in` keyword.

In [ ]:
'world' in 'hello world!'

True

To test if a string is __not__ contained in another string use `not in` keyword.

In [ ]:
'hello' not in 'hello world!'

False

To count the number of substring in a string use `.count()` method.

In [ ]:
'hello world!'.count('l')

3

To find how many characters are there in the string before a given string use `.index()` method.

In [ ]:
'hello world!'.index("world")

6

### Accessing String Characters
To access:
- the first character of the string use `[0]`,
- the second character of the string use `[1]`,
- and so on.

This is the number of characters to be skipped to access that character.

It is called the _index_ of that character
and can be found by `.index()` method.

In [ ]:
'hello world!'[0]

'h'

In [ ]:
'hello world!'.index('h')

0

To access the last character of a string use `[-1]`.
You can use negative numbers to index the characters from end.

In [ ]:
'hello world!'[-1]

'!'

**Warning:**
To index a string character from the beginning count like `0,1,2,...`
To index a string character from the end count like `-1,-2,-3,...`

### Accessing Substrings
To get a substring use `[start:end]` notation.
This will get all the characters starting with (including) `start` up to (but not including) `end`.

In [ ]:
'hello world!'[1:4]

'ell'

You can also use negative indexes here.

In [ ]:
'hello world!'[0:-1]

'hello world'

If you ommit the `start` index then Python assumes it `0`.
So to get the first `3` characters:

In [ ]:
'hello world!'[:3]

'hel'

If you ommit the `end` index then Python assumes it the length of the string.
So to get the last `3` characters:

In [ ]:
'hello world!'[-3:]

'ld!'

If your indexes are out of valid ranges then Python assumes them like empty:

In [ ]:
'hello world!'[-100:100]

'hello world!'

You can skip some characters with `[start:end:skip]` notation.
For example to get only the characters in even positions:

In [ ]:
print('hello world!'[::2])

hlowrd

To print the string but in reverse order:

In [ ]:
print('hello world!'[::-1])

!dlrow olleh

## F-Strings
Strings that start with `f` are called _f-string_.
Inside an f-string between braces `{}` you can write any Python expression.
Python will run the expression and replace it with the result.

In [ ]:
print(f'12+7={12+7}')

12+7=19

### Modifers
You can use f-strings with modifiers (`{:}`) to change the representation of objects in f-strings

Here are some examples:

In [ ]:
print(f'0.1*3={.1*3:.2f}')

0.1*3=0.30

Here the modifier `.2f` instructs the Python to use only the first 2 digits after `.` to show a floating point number.

In [ ]:
print(f'Hexadecimal represenation of 125 is 0x{125:X}')

Hexadecimal represenation of 125 is 0x7D

In [ ]:
print(f'Binary expansion of 125 is 0b{125:b}')

Binary expansion of 125 is 0b1111101

In [ ]:
print(f'Scientific form of 125 is {125:e}')

Scientific form of 125 is 1.250000e+02